<html>
<head>
	<title>Meeting Survey</title>
	<link rel="stylesheet" href="/stylesheets/survey.css">
</head>
<body>
<div id="form">
<form action="/survey1" method="post">
	<div id="text_questions">
		Who did you meet?<br>
		<input type="text" name="name"><br><br>
		When did you meet?<br>
		<input type="date" name="date"><br><br>
	</div>
	How did you meet?<br>

	<input type="radio" name="meeting_medium" value="Phone"> Phone<br>
	<input type="radio" name="meeting_medium" value="Online Video"> Online Video<br>
	<input type="radio" name="meeting_medium" value="In-person" checked> In-person<br><br>

	How long was the meeting?<br>
	<select name="meeting_length">
		<option value="30 Minutes">30 Minutes</option>
		<option value="1 hour">1 hour</option>
		<option value="1.5 hours">1.5 hours</option>
		<option value="2+ hours">2+ hours</option>
	</select><br><br>
	What did you discuss?<br>
	<input type="checkbox" name="leadership" value="leadership"> leadership<br>
	<input type="checkbox" name="selling" value="selling"> selling<br>
	<input type="checkbox" name="negotiation" value="negotiation"> negotiation<br>
	<input type="checkbox" name="conflict resolution" value="conflict resolution"> conflict resolution<br>
	<input type="checkbox" name="other" value="other"> other<br><br>

	<input type="submit" name="submit_survey" value="Submit">
</form>
</div>
</body>
</html>