<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for your submission</title>
</head>
<body>
<h2>Your submission has been successfully received!</h2>
</body>
</html>