<!doctype html>
<html>
<header>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</header>

<body>

    <div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="width: 180px; display: block;" id="mySidebar">
        <div class="w3-bar w3-dark-grey">
            <span class="w3-bar-item w3-padding-16">Content</span>
            <button onclick="w3_close()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">×</button>
        </div>
        <div class="w3-bar-block">
            <a class="w3-bar-item w3-button w3-green" href="javascript:void(0)">Home</a>
            <a class="w3-bar-item w3-button" href="javascript:void(0)">People</a>
            <a class="w3-bar-item w3-button" href="<java></java>script:void(0)">Relationships</a>
        </div>
    </div>

    <div id="main">
        <!-- TO make float right  https://www.w3schools.com/howto/howto_js_sidenav.asp-->
    </div>
</body>

</html>