<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/loginJQ.js"></script>
</head>
<body>
	<div id="login">
		<table width="100%">
		<form onsubmit="return false;">
			<tr align="center">
				<td>
					<div id="padding">
						<span align="center" hidden="true"> Test </span>
					</div>
				</td>
			</tr>
			<tr align="center"><td><input type="text" id="email" placeholder="email" /></td></tr>
			<tr align="center"><td><input type="password" id="password" placeholder="password" /></td></tr>
			<tr align="center"><td><input type="submit" value="Login" /></td></tr>
			<tr align="center">
				<td>
					<div id="padding">
						<span align="center" hidden="true" id="retry">Please Enter a eMail Password</span>
					</div>
				</td>
			</tr>
		</form> 
		</table>
	</div>
</body>
</html>
